.btn {
    display: inline-block;
    width: 90%;
    padding: 10px 0;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-align: start;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
  }
  
  .btn.active {
    background-color: #ad343e; 
    color: #fff;             
  }
  
  .slidbar {
    min-width: 15%;
    text-align: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .slidbar a {
    font-weight: 400;
    color:#2A2A2A ;
  }
  .All-Menu {
    display: none;
  }
  
  .popup-menu .btn {
    margin-bottom: 0.5rem;
  }
  
  @media screen and (max-width: 1130px)  {
    .slidbar {
      display: none;
    }
    .All-Menu {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      
    }
    .popup-menu{
      width: 40%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: 0;
      display: flex;
      flex-direction: column;
      background-color: #f2f2f2;
      gap: 20px;  
    z-index: 100;  }
  }
  