.loading-screens {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #ad343e;
  opacity: 1;
  visibility: visible;
  animation: fadeIn 0.1s ease-out forwards, fadeOut 1s ease-out 1.2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
