.OurMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
}
.OurMenu .menuContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.OurMenu .menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid gray;
  text-align: center;
  width: 280px;
  transition: 0.3s;
}

.OurMenu .menuItem:hover {
  transform: scale(1.05);
}

.dishImage {
  display: flex;
  justify-content: center;
  align-items: center;

}

.image .dishImage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 50px;
  height: 50px;
}
.OurMenu .menuItem .dishTitle {
  font-size: 20px;
  margin: 10px 0;
  font-family: 'Playfair Display', serif;
}

.OurMenu .menuItem .dishDescription {
  font-size: 14px;
  color: #555;
  font-family: 'DM Sans', sans-serif;
  max-width: 60%;
  width: 250px;

}


@media (max-width: 350px) {
  .OurMenu .menuItem {
  width: 200px;
  }
}